#pozaprf{
	width: 120px;
	height: 120px;
	background-color: #f2f2f2;
	margin-top: 5%;
	margin-left: 150px;
	border-radius: 30px;
}

button[type=submit]{
	color: white;
	border: none;
	background-color: purple;
	padding: 14px;
	border-radius: 10px;
	font-family: consolas;
	font-weight: bold;
}

input[type=text]{
	height: 25px;
	border-radius: 5px;
	border: none;
	margin-left: 4%;
	padding-left: 10px;
}

input[type=password]{
	height: 25px;
	border-radius: 5px;
	border: none;
	margin-left: 4%;
	padding-left: 10px;
}

input[type=file]{
	height: 25px;
	border-radius: 5px;
	border: none;
	margin-left: 5%;
	padding-left: 10px;
}

select{
	height: 25px;
	border-radius: 5px;
	border: none;
	margin-left: 4%;
	padding-left: 10px;
}
